html{
  background-color: #15ff00;
}
.container-fluid{
  background-color: #15ff00;
}
input[type='text']{
  background: transparent;
  color: black;
}

input[type='text']:focus
{
  background: transparent;
  color: black;
}